<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review42.repository.ProductMapper">
    <resultMap id="ProductResultMap" type="com.review42.dto.ProductResponseDto">
        <result property="id" column="product_id"/>
        <result property="name" column="product_name"/>
        <result property="price" column="product_price"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <select id="selectFilteredProducts" resultMap="ProductResultMap" parameterType="com.review42.dto.ProductFilterDto">
        SELECT
            p.id AS product_id, p.product_name AS product_name, p.product_price AS product_price, c.category_name AS category_name
        FROM products p
        JOIN categories c ON p.category_id = c.id
        <where>
            <if test="keyword != null and keyword != ''">
                p.product_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="categoryId != null">
                AND p.category_id = #{categoryId}
            </if>
            <if test="minPrice != null">
                AND p.product_price &gt;= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND p.product_price &lt;= #{maxPrice}
            </if>
        </where>
        ORDER BY ${sortBy} ${sortDir}
    </select>
</mapper>