<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Vue Directives</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div id="app">
            <h2 v-if="titleVisible">{{ title }}</h2>
            
            <ul>
                <li v-for="movie in movies">{{ movie }}</li>            
            </ul>

            <a v-bind:href="link" target="_blank">쇼핑 하러 가즈아!</a>
            <br/><br/>
            <button @click="toggleTitle">제목 보이기/숨기기</button>
        </div>

        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    title: '내가 좋아하는 영화 리스트',
                    titleVisible: true,
                    movies: ['러브 액츄얼리', '노트북', '맘마미아', '1987'],
                    link: 'https://www.coupang.com/'
                },
                methods: {
                    toggleTitle() {
                        this.titleVisible = !this.titleVisible;
                    }
                }
            })
        </script>
    </body>
</html>